rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{userId}/{documents=**} {
      allow read, write: if request.auth.uid == userId
    }
  }
}
